services:
  snippetbox:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4000:4000"
    init: true
    develop:
      watch:
        - action: sync
          path: ./cmd
          target: /app/cmd
        - action: sync
          path: ./internal
          target: /app/internal
        - action: sync
          path: ./ui
          target: /app/ui
        - action: rebuild
          path: go.mod
        - action: rebuild
          path: go.sum
        - action: rebuild
          path: Dockerfile.dev
        - action: rebuild
          path: .dockerignore
    environment:
      - ADDR=:4000
      - STATIC_DIR=./ui/static/
      - DEBUG=true
      - DB_DSN=web:pass@tcp(mysql:3306)/snippetbox?parseTime=true
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - snippetbox-net

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    init: true
    environment:
      - MYSQL_ROOT_PASSWORD=root
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-p$$MYSQL_ROOT_PASSWORD",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d
    networks:
      - snippetbox-net

networks:
  snippetbox-net:
    driver: bridge
